<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Emma Moon</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<h1>Learn More About <a href="/hello">Me</a></h1>

    <!--Section to include background information. This is to formally introduce myself before starting on things about me.-->
<h2>Background</h2>
    <p>Hi my name is Emma Moon. Welcome to my page where you can learn more about me!</p>
    <p>I'm a senior at UMD studying Finance and Information Systems. I'm a Korean American from Ellicott City, and the youngest daughter to a family of four plus one bunny.</p>

    <!--Section to include lists of information about me: favorites, dislikes, etc. This gives more insight on me for people to learn what I like and dislike.-->
    <h2>Fun Facts</h2>
    <p id="third">My favorite hobbies:</p>
    <ul>
        <li>Running in 70 degree weather</li>
        <li>Hiking with pretty viewpoints</li>
        <li>Trying new foods</li>
        <li>Swimming</li>
    </ul>

    <p>Things I <strong>HATE</strong>:</p>
    <ul>
        <li><strong>Allergies.</strong> There's literally nothing else to say because it's just <em>that bad.</em></li>
        <li>Sweating and feeling sticky after being sweaty.</li>
        <li><em>Worms.</em> I have a big fear of <em>worms</em></li>
    </ul>

    <p>My preference of seasons:</p>
    <ol>
        <li>Summer</li>
        <li>Winter</li>
        <li>Fall</li>
        <li>Spring</li>
    </ol>

    <p>My favorite courses:</p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT340</td>
            <td>Fall 2024</td>
        </tr>
        <tr>
            <td>BMGT380</td>
            <td>Spring 2025</td>
        </tr>
        <tr>
            <td>DANC138D</td>
            <td>Fall 2026</td>
        </tr>
    </table>

<!--Last section to close out information on my favorites. This section directs the audience to other informative and important sites.-->
<h2>These are a Few of my Favorite Things</h2>
    <p>As per the header of this section, I <strong>love</strong> the watching the Sound of Music. And while it's not on <a href="https://www.netflix.com/" target="_blank">Netflix</a>, I love watching other shows like k-dramas and movies on Netflix.</p>
    <p>Aside from watching shows and movies, I am an avid music streamer. With everyone on the Apple Music vs Spotify debate, you will find me fully on the <a href="https://open.spotify.com/" target="_blank">Spotify</a> side.</p>
<p>Being a UMD Smith student, of course <span class="highlight">I LOVE Smith</span>! I've enjoyed a majority if not all of my classes so far. And the people I've met along the way are the best addition to my education at Smith!</p>
    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         alt="Smith Logo">
    <p>#ILoveSmith #proudterp</p>
</body>
</html>